/* ------------------------------------------------------------------
  Position
  ---
  § Position
  § Directions
------------------------------------------------------------------ */

/* ------------------------------------------------------------------
  § Position
------------------------------------------------------------------ */

.absolute
{
  position : absolute;
}

.fixed
{
  position : fixed;
}

.relative
{
  position : relative;
}

.sticky
{
  position : sticky;
}

.static
{
  position : static;
}

@include mq(tab) {
  .tab_absolute
  {
    position : absolute;
  }

  .tab_fixed
  {
    position : fixed;
  }

  .tab_relative
  {
    position : relative;
  }

  .tab_sticky
  {
    position : sticky;
  }

  .tab_static
  {
    position : static;
  }

  .tab_inherit
  {
    position : inherit;
  }}

/* ------------------------------------------------------------------
  § Directions
  ---
  §§ 0
  §§ default
  §§ Percentages
  §§ Discrete pixels
------------------------------------------------------------------ */

/* ------------------------------------------------------------------
  §§ 0
------------------------------------------------------------------ */

.top_0
{
  top : 0;
}

.right_0
{
  right : 0;
}

.bottom_0
{
  bottom : 0;
}

.left_0
{
  left : 0;
}

.right-minus_50
{
  right : - to-rem(50);
}

@include mq(tab) {
  .tab_top_0
  {
    top : 0;
  }

  .tab_right_0
  {
    right : 0;
  }

  .tab_bottom_0
  {
    bottom : 0;
  }

  .tab_left_0
  {
    left : 0;
  }

}

/* ------------------------------------------------------------------
  §§ default
------------------------------------------------------------------ */

.top_default
{
  top : spacing(default);
}

.right_default
{
  right : spacing(default);
}

.bottom_default
{
  bottom : spacing(default);
}

.left_default
{
  left : spacing(default);
}

@include mq(tab) {
  .tab_top_default
  {
    top : spacing(default);
  }

  .tab_right_default
  {
    right : spacing(default);
  }

  .tab_bottom_default
  {
    bottom : spacing(default);
  }

  .tab_left_default
  {
    left : spacing(default);
  }

}
/* ------------------------------------------------------------------
  §§ Percentages
------------------------------------------------------------------ */

.top_left_50p
{
  top  : 50%;
  left : 50%;
}

.top_50p
{
  top : 50%;
}

.bottom_50p
{
  bottom : 50%;
}

.left_50p
{
  left : 50%;
}

.right_15p
{
  right: 15%;
}

.right_20p
{
  right: 20%;
}

.right_25p
{
  right: 25%;
}

/* ------------------------------------------------------------------
  §§ Pixels
------------------------------------------------------------------ */

.above
{
  top  : to-rem(-50);
  left : 0;
}

.top_minus-3
{
  top: to-rem(-3);
}
.top_minus-15
{
  top: to-rem(-15);
}

.top_minus-8
{
  top: to-rem(-8);
}

.top_minus_M
{
  top: to-rem(-15);
}

.top_L
{
  top: to-rem(16);
}

.top_10
{
  top : to-rem(10);
}

.left_10
{
  left : to-rem(10);
}

.top_12
{
  top : to-rem(12);
}

.top_20
{
  top : to-rem(20);
}

.top_25
{
  top : to-rem(25);
}

.top_32
{
  top : to-rem(32);
}

.top_45
{
  top : to-rem(45);
}

.top_64
{
  top : to-rem(64);
}

.top_96
{
  top : to-rem(96);
}

.top_100
{
  top : to-rem(100);
}

.top_100p
{
  top : 100%;
}

.top_neg-64
{
  top : - to-rem(64);
}

.right_5
{
  right: to-rem(5);
}

.left_L
{
  left: to-rem(16);
}

.right_L
{
  right: to-rem(16);
}

.right_10
{
  right: to-rem(10);
}

.right_15
{
  right: to-rem(15);
}

.right_20
{
  right: to-rem(20);
}

.right_30
{
  right: to-rem(30);
}

.right_35
{
  right: to-rem(35);
}

.bottom_10 {
  bottom: to-rem(10);
}

.bottom_neg-120 {
  bottom: to-rem(-120);
}

.bottom_neg-110 {
  bottom: to-rem(-110);
}

.bottom_14 {
  bottom: to-rem(14);
}

.bottom_15 {
  bottom: to-rem(15);
}

.bottom_60 {
  bottom: to-rem(60);
}

.bottom-minus_80 {
  bottom: to-rem(-80);
}

.bottom_L {
  bottom: to-rem(16);
}

@include mq(tab) {
  .tab_top_100 {
    top : to-rem(100);
  }
}
