/* ------------------------------------------------------------------
  Object properties (object-fit, object-position)
  ---
  § Object-fit
  § Object-position
------------------------------------------------------------------ */

/* ------------------------------------------------------------------
  § Object-fit
------------------------------------------------------------------ */

.object-fit_cover
{
  object-fit : cover;
}

.object-fit_contain
{
  object-fit : contain;
}

/* ------------------------------------------------------------------
  § Object-position
------------------------------------------------------------------ */

.object-position_center
{
  object-position : center;
}
