/* ------------------------------------------------------------------
  Line-height
------------------------------------------------------------------ */

.line-height_0
{
  line-height : 0;
}

.line-height_XS
{
  line-height : .8;
}

.line-height_dot9
{
  line-height : .9;
}

.line-height_S
{
  line-height : 1;
}

.line-height_default
{
  line-height : $line-height_default;
}

.line-height_M
{
  line-height : 1.5;
}

.line-height_L
{
  line-height : 2;
}
.line-height_XL

{
  line-height : 2.5;
}

.line-height_22
{
  line-height : to-rem(22);
}

.line-height_21
{
  line-height : to-rem(21);
}

.line-height_24
{
  line-height : 24px;
}

.line-height_30
{
  line-height : to-rem(30);
}

.line-height_40
{
  line-height : 40px;
}

.line-height_50
{
  line-height : 50px;
}

.line-height_65
{
  line-height : 65px;
}
